.container {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.inside  {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}



.easy,
.medium,
.hard {
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  width: auto;
  background-color: rgb(155, 204, 204);
  padding: 10.3%;
  margin: 0.1%;
}

.medium {
  padding: 7.4%;
}


.medium .inside .image {
  width: 125px;
}

.hard {
  padding: 4.7%;
}

.hard .inside .image {
  width: 70px;
}
